.jumbotron{
    background-image: url("../img/pizza.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

h1 {
    background: rgba(255, 255, 255, 0.53)
}


h5.card-header {
    background-color: #227bff;
    color: white;
}

div.card-header {
    background-color: #227bff;
    color: white;
}

.card {
    /*margin-bottom: 1em;*/
}

card-footer {
    width: 100%;

}



