.jumbotron{
    background-image: url("../img/pizza.png");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    width: 100%;
}

h1 {
    background: rgba(255, 255, 255, 0.53)
}

#SizeAndCrustHeader {
    background-color: #227bff;
    color: white;
    text-align: left;
}

#CheeseAndSauceHeader {
    background-color: #227bff;
    color: white;
    text-align: left;
}

#ToppingsHeader {
    background-color: #227bff;
    color: white;
    text-align: left;
}

.card {
    margin-bottom: 1em;
}

div.d-none {
    font-size: xx-large;
}

div.card-body {
    text-align: left;
}

.form-group {
    width: 98%;

}